<form id="analytics-form" onsubmit="event.preventDefault();">

    <style>
		/* dialog */
        #analytics-actors {
            min-width: 700px;
            min-height: 700px;
        }

		/* ------------ */

		/* item controls position */
        #analytics-item-controls {
            position: absolute;
            top: 85px;
            bottom: 40px;
            width: 200px;
            right: 8px;
            overflow-x: hidden;
            overflow-y: hidden;
        }
		
		/* actor controls position */
        #analytics-actor-controls {
            position: absolute;
            top: 85px;
            bottom: 40px;
            width: 200px;
            right: 225px;
            overflow-x: hidden;
            overflow-y: hidden;
        }

		/* list header position */
        #analytics-header {
            position: absolute;
            top: 85px;
            height: 30px;
            left: 8px;
            right: 440px;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
        }

		/* list position */
        #analytics-list {
            position: absolute;
            top: 110px;
            bottom: 5px;
            left: 8px;
            right: 440px;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
			background: rgba(0, 0, 0, 0.05);
			border: 1px solid;
			border-color: var(--color-border-light-primary);
        }

		/* submit position */
        #analytics-submit {
            position: absolute;
            bottom: 5px;
            right: 25px;
            width: 390px;
        }

		/* form groups */
		#form-group {
			margin: 0 0 2px 0;
			height: 22px;
		}

		#form-group-name {
			margin: 0 0 5px 0;
			height: 22px;
		}

		/* text labels*/
		.text-label {
			height: 20px;
		}

		/* ------------ */

		/* actor list entries */
		
        .analytics-actor-name-even {
            position: relative;
            margin: 10px 0 2px 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            font-weight: bold;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-actor-name-odd {
            position: relative;
            margin: 10px 0 2px 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            font-weight: bold;
        }

		/* item list entries */
		
        .analytics-item-name-even {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-item-name-odd {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }

		/* macro list entries */
		
        .analytics-macro-name-even {
            position: relative;
            margin: 0 0 2px 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: italic;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-macro-name-odd {
            position: relative;
            margin: 0 0 2px 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: italic;
        }

        .analytics-macro-name-error-even {
            position: relative;
            margin: 0 0 2px 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: italic;
			color: var(--color-border-highlight-alt);
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-macro-name-error-odd {
            position: relative;
            margin: 0 0 2px 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: italic;
			color: var(--color-border-highlight-alt);
        }

		/* journal list entries */
		
        .analytics-journal-name-even {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-journal-name-odd {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }

		/* scene list entries */
		
        .analytics-scene-name-even {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-scene-name-odd {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }

    </style>

    <script>
        function toggle_creature_types() {
            document.getElementById("actor-aberration").disabled     = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-beast").disabled          = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-celestial").disabled      = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-construct").disabled      = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-dragon").disabled         = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-elemental").disabled      = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-fey").disabled            = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-fiend").disabled          = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-giant").disabled          = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-humanoid").disabled       = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-monstrosity").disabled    = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-ooze").disabled           = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-plant").disabled          = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-swarm").disabled          = !document.getElementById("actor-npc").checked;
            document.getElementById("actor-undead").disabled         = !document.getElementById("actor-npc").checked;
        }
        function toggle_item_macro() {
            document.getElementById("macro-name").disabled           = !document.getElementById("item-macro").checked;
            document.getElementById("macro-case-sensitive").disabled = !document.getElementById("item-macro").checked;
            document.getElementById("macro-exact-match").disabled    = !document.getElementById("item-macro").checked;
        }
    </script>

    <!-- Navigation Tabs -->
    <nav class="sheet-tabs tabs" data-group="components">
        <a class="item" data-tab="actor-items"    id="analytics-tab" title="{{localize 'DOCUMENT.Actors'}} {{localize 'and'}} {{localize 'DOCUMENT.Items'}}">
			<i class="fas fa-suitcase"></i>&nbsp;{{localize 'DOCUMENT.Items'}}</a>
        <a class="item" data-tab="actor-journals" id="analytics-tab" title="{{localize 'DOCUMENT.Actors'}} {{localize 'and'}} {{localize 'SIDEBAR.TabJournal'}}">
			<i class="fas fa-book-open"></i>&nbsp;{{localize 'SIDEBAR.TabJournal'}}</a>
        <a class="item" data-tab="actor-scenes"   id="analytics-tab" title="{{localize 'DOCUMENT.Actors'}} {{localize 'and'}} {{localize 'DOCUMENT.Scenes'}}">
			<i class="fas fa-map"></i>&nbsp;{{localize 'DOCUMENT.Scenes'}}</a>
    </nav>

	<!-- ACTORS -->
	<div id="analytics-actor-controls">

			<!-- ACTOR NAME -->
			<div class="form-group" id="form-group-name">
				<label for="actor-name" class="text-label">{{localize 'DOCUMENT.Actors'}}</label>
				<input type="text" id="actor-name" name="actor-name" title="{{localize 'DOCUMENT.Actors'}} {{localize 'Name'}}" data-dtype="String" placeholder="{{localize 'Name'}}" value="{{actor-name-value}}" >
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-case-sensitive" class="text-label">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="actor-case-sensitive" name="actor-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{actor-case-sensitive-checked}} />
			</div>
			<div class="form-group" id="form-group" class="text-label">
				<label for="actor-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="actor-exact-match" name="actor-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{actor-exact-match-checked}} />
			</div>
			<hr>
			
			<!-- ACTOR TYPES -->
			<div class="form-group" id="form-group">
				<label for="actor-character" class="text-label">{{localize 'ACTOR.TypeCharacter'}}</label>
				<input type="checkbox" id="actor-character" name="actor-character" title="{{localize 'ACTOR.TypeCharacter'}} {{localize 'DOCUMENT.Actors'}}" data-dtype="Boolean" {{actor-character-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-vehicle" class="text-label">{{localize 'ACTOR.TypeVehicle'}}</label>
				<input type="checkbox" id="actor-vehicle" name="actor-vehicle" title="{{localize 'ACTOR.TypeVehicle'}} {{localize 'DOCUMENT.Actors'}}" data-dtype="Boolean" {{actor-vehicle-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-npc" class="text-label">{{localize 'ACTOR.TypeNpc'}}</label>
				<input type="checkbox" id="actor-npc" name="actor-npc" title="{{localize 'ACTOR.TypeNpc'}} {{localize 'DOCUMENT.Actors'}}" data-dtype="Boolean" onClick="toggle_creature_types()" {{actor-npc-checked}} />
			</div>
			<hr> 

			<!-- CREATURE TYPES -->
			<div class="form-group" id="form-group">
				<label for="actor-aberration" class="text-label">{{localize 'DND5E.CreatureAberration'}}</label>
				<input type="checkbox" id="actor-aberration" name="actor-aberration" title="{{localize 'DND5E.CreatureAberration'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-aberration-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-beast" class="text-label">{{localize 'DND5E.CreatureBeast'}}</label>
				<input type="checkbox" id="actor-beast" name="actor-beast" title="{{localize 'DND5E.CreatureBeast'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-beast-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-celestial" class="text-label">{{localize 'DND5E.CreatureCelestial'}}</label>
				<input type="checkbox" id="actor-celestial" name="actor-celestial" title="{{localize 'DND5E.CreatureCelestial'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-celestial-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-construct" class="text-label">{{localize 'DND5E.CreatureConstruct'}}</label>
				<input type="checkbox" id="actor-construct" name="actor-construct" title="{{localize 'DND5E.CreatureConstruct'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-construct-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-dragon" class="text-label">{{localize 'DND5E.CreatureDragon'}}</label>
				<input type="checkbox" id="actor-dragon" name="actor-dragon" title="{{localize 'DND5E.CreatureDragon'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-dragon-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-elemental" class="text-label">{{localize 'DND5E.CreatureElemental'}}</label>
				<input type="checkbox" id="actor-elemental" name="actor-elemental" title="{{localize 'DND5E.CreatureElemental'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-elemental-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-fey" class="text-label">{{localize 'DND5E.CreatureFey'}}</label>
				<input type="checkbox" id="actor-fey" name="actor-fey" title="{{localize 'DND5E.CreatureFey'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-fey-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-fiend" class="text-label">{{localize 'DND5E.CreatureFiend'}}</label>
				<input type="checkbox" id="actor-fiend" name="actor-fiend" title="{{localize 'DND5E.CreatureFiend'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-fiend-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-giant" class="text-label">{{localize 'DND5E.CreatureGiant'}}</label>
				<input type="checkbox" id="actor-giant" name="actor-giant" title="{{localize 'DND5E.CreatureGiant'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-giant-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-humanoid" class="text-label">{{localize 'DND5E.CreatureHumanoid'}}</label>
				<input type="checkbox" id="actor-humanoid" name="actor-humanoid" title="{{localize 'DND5E.CreatureHumanoid'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-humanoid-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-monstrosity" class="text-label">{{localize 'DND5E.CreatureMonstrosity'}}</label>
				<input type="checkbox" id="actor-monstrosity" name="actor-monstrosity" title="{{localize 'DND5E.CreatureMonstrosity'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-monstrosity-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-ooze" class="text-label">{{localize 'DND5E.CreatureOoze'}}</label>
				<input type="checkbox" id="actor-ooze" name="actor-ooze" title="{{localize 'DND5E.CreatureOoze'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-ooze-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-plant" class="text-label">{{localize 'DND5E.CreaturePlant'}}</label>
				<input type="checkbox" id="actor-plant" name="actor-plant" title="{{localize 'DND5E.CreaturePlant'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-plant-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-swarm" class="text-label">{{localize 'DND5E.CreatureSwarm'}}</label>
				<input type="checkbox" id="actor-swarm" name="actor-swarm" title="{{localize 'DND5E.CreatureSwarm'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-swarm-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="actor-undead" class="text-label">{{localize 'DND5E.CreatureUndead'}}</label>
				<input type="checkbox" id="actor-undead" name="actor-undead" title="{{localize 'DND5E.CreatureUndead'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{actor-undead-checked}} />
			</div>
		</div>

	<div id="analytics-item-controls">

		<!-- ITEMS Tab -->
		<div class="tab" data-tab="actor-items" data-group="components">

			<!-- ITEM NAME -->
			<div class="form-group" id="form-group-name">
				<label for="item-name" class="text-label">{{localize 'DOCUMENT.Items'}}</label>
				<input type="text" id="item-name" name="item-name" data-dtype="String" title="{{localize 'DOCUMENT.Items'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{item-name-value}}" >
			</div>
			<div class="form-group" id="form-group">
				<label for="item-case-sensitive" class="text-label">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="item-case-sensitive" name="item-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{item-case-sensitive-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-exact-match" class="text-label">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="item-exact-match" name="item-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{item-exact-match-checked}} />
			</div>
			<hr>
			
			<!-- ITEM TYPES -->
			<div class="form-group" id="form-group">
				<label for="item-none" class="text-label">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="item-none" name="item-none" title="{{localize 'No'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-none-checked}} />
			</div>
			<p class="notes">{{localize 'DOCUMENT.Actors'}} {{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Items'}}</p>
			<div class="form-group" id="form-group">
				<label for="item-weapon" class="text-label">{{localize 'ITEM.TypeWeapon'}}</label>
				<input type="checkbox" id="item-weapon" name="item-weapon" title="{{localize 'ITEM.TypeWeapon'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-weapon-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-equipment" class="text-label">{{localize 'ITEM.TypeEquipment'}}</label>
				<input type="checkbox" id="item-equipment" name="item-equipment" title="{{localize 'ITEM.TypeEquipment'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-equipment-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-consumable" class="text-label">{{localize 'ITEM.TypeConsumable'}}</label>
				<input type="checkbox" id="item-consumable" name="item-consumable" title="{{localize 'ITEM.TypeConsumable'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-consumable-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-tool" class="text-label">{{localize 'ITEM.TypeTool'}}</label>
				<input type="checkbox" id="item-tool" name="item-tool" title="{{localize 'ITEM.TypeTool'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-tool-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-loot" class="text-label">{{localize 'ITEM.TypeLoot'}}</label>
				<input type="checkbox" id="item-loot" name="item-loot" title="{{localize 'ITEM.TypeLoot'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-loot-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-class" class="text-label">{{localize 'ITEM.TypeClass'}}</label>
				<input type="checkbox" id="item-class" name="item-class" title="{{localize 'ITEM.TypeClass'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-class-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-feat" class="text-label">{{localize 'ITEM.TypeFeat'}}</label>
				<input type="checkbox" id="item-feat" name="item-feat" title="{{localize 'ITEM.TypeFeat'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-feat-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-backpack" class="text-label">{{localize 'ITEM.TypeBackpack'}}</label>
				<input type="checkbox" id="item-backpack" name="item-backpack" title="{{localize 'ITEM.TypeBackpack'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-backpack-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-spell" class="text-label">{{localize 'ITEM.TypeSpell'}}</label>
				<input type="checkbox" id="item-spell" name="item-spell" title="{{localize 'ITEM.TypeSpell'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-spell-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="item-macro" id="item-macro-label" class="text-label">{{localize 'midi-qol.onUseMacroLabel'}}</label>
				<input type="checkbox" id="item-macro" name="item-macro" title="{{localize 'DOCUMENT.Items'}} {{localize 'ANALYTICS.With'}} {{localize 'midi-qol.onUseMacroLabel'}}" data-dtype="Boolean" onClick="toggle_item_macro()" {{item-macro-checked}} />
			</div>
			<p class="notes" id="item-macro-note">{{localize 'DOCUMENT.Items'}} {{localize 'ANALYTICS.With'}} {{localize 'midi-qol.onUseMacroLabel'}}</p>
			<hr>

			<!-- ON USE MACRO -->
			<div class="form-group" id="form-group-name">
				<label for="macro-name" id="macro-name-label" class="text-label">{{localize 'DOCUMENT.Macros'}}</label>
				<input type="text" id="macro-name" name="macro-name" title="{{localize 'DOCUMENT.Macros'}} {{localize 'Name'}}" data-dtype="String" placeholder="{{localize 'Name'}}" value="{{macro-name-value}}" >
			</div>
			<div class="form-group" id="form-group">
				<label for="macro-case-sensitive" id="macro-case-sensitive-label" class="text-label">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="macro-case-sensitive" name="macro-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{macro-case-sensitive-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="macro-exact-match" id="macro-exact-match-label" class="text-label">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="macro-exact-match" name="macro-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{macro-exact-match-checked}} />
			</div>
			<hr id="macro-thematic-break">

			<!-- SHOW -->
			<div class="form-group" id="form-group">
				<label for="item-show" class="text-label">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="item-show" name="item-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{item-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Items'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>
		
		<!-- JOURNALS Tab -->
		<div class="tab" data-tab="actor-journals" data-group="components">

			<!-- JOURNAL NAME -->
			<div class="form-group" id="form-group-name">
				<label for="journal-name" class="text-label">{{localize 'DOCUMENT.JournalEntries'}}</label>
				<input type="text" id="journal-name" name="journal-name" data-dtype="String" title="{{localize 'DOCUMENT.JournalEntries'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{journal-name-value}}" >
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-case-sensitive" class="text-label">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="journal-case-sensitive" name="journal-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{journal-case-sensitive-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-exact-match" class="text-label">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="journal-exact-match" name="journal-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{journal-exact-match-checked}} />
			</div>
			<hr>

			<!-- JOURNAL TYPES -->
				<!--
					"MonksEnhancedJournal.actor": "Actor",
					"MonksEnhancedJournal.city": "City",
					"MonksEnhancedJournal.picture": "Picture",
					"MonksEnhancedJournal.journalentry": "Journal Entry",
					"MonksEnhancedJournal.journalentrytextonly": "Enhanced Journal Entry (Text Only)",
					"MonksEnhancedJournal.slideshow": "Slideshow",
				-->
			<div class="form-group" id="form-group">
				<label for="journal-none" class="text-label">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="journal-none" name="journal-none" title="{{localize 'No'}} {{localize 'DOCUMENT.JournalEntries'}}" data-dtype="Boolean" {{journal-none-checked}} />
			</div>
			<p class="notes">{{localize 'DOCUMENT.Actors'}} {{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.JournalEntries'}}</p>
			<div class="form-group" id="form-group">
				<label for="journal-base" id="journal-base-label" class="text-label">{{localize 'MonksEnhancedJournal.base'}}</label>
				<input type="checkbox" id="journal-base" name="journal-base" title="{{localize 'MonksEnhancedJournal.base'}}" data-dtype="Boolean" {{journal-base-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-checklist" id="journal-checklist-label" class="text-label">{{localize 'MonksEnhancedJournal.checklist'}}</label>
				<input type="checkbox" id="journal-checklist" name="journal-checklist" title="{{localize 'MonksEnhancedJournal.checklist'}}" data-dtype="Boolean" {{journal-checklist-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-encounter" id="journal-encounter-label" class="text-label">{{localize 'MonksEnhancedJournal.encounter'}}</label>
				<input type="checkbox" id="journal-encounter" name="journal-encounter" title="{{localize 'MonksEnhancedJournal.encounter'}}" data-dtype="Boolean" {{journal-encounter-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-loot" id="journal-loot-label" class="text-label">{{localize 'MonksEnhancedJournal.loot'}}</label>
				<input type="checkbox" id="journal-loot" name="journal-loot" title="{{localize 'MonksEnhancedJournal.loot'}}" data-dtype="Boolean" {{journal-loot-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-organization" id="journal-organization-label" class="text-label">{{localize 'MonksEnhancedJournal.organization'}}</label>
				<input type="checkbox" id="journal-organization" name="journal-organization" title="{{localize 'MonksEnhancedJournal.organization'}}" data-dtype="Boolean" {{journal-organization-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-person" id="journal-person-label" class="text-label">{{localize 'MonksEnhancedJournal.person'}}</label>
				<input type="checkbox" id="journal-person" name="journal-person" title="{{localize 'MonksEnhancedJournal.person'}}" data-dtype="Boolean" {{journal-person-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-place" id="journal-place-label" class="text-label">{{localize 'MonksEnhancedJournal.place'}}</label>
				<input type="checkbox" id="journal-place" name="journal-place" title="{{localize 'MonksEnhancedJournal.place'}}" data-dtype="Boolean" {{journal-place-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-poi" id="journal-poi-label" class="text-label">{{localize 'MonksEnhancedJournal.poi'}}</label>
				<input type="checkbox" id="journal-poi" name="journal-poi" title="{{localize 'MonksEnhancedJournal.poi'}}" data-dtype="Boolean" {{journal-poi-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-quest" id="journal-quest-label" class="text-label">{{localize 'MonksEnhancedJournal.quest'}}</label>
				<input type="checkbox" id="journal-quest" name="journal-quest" title="{{localize 'MonksEnhancedJournal.quest'}}" data-dtype="Boolean" {{journal-quest-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="journal-shop" id="journal-shop-label" class="text-label">{{localize 'MonksEnhancedJournal.shop'}}</label>
				<input type="checkbox" id="journal-shop" name="journal-shop" title="{{localize 'MonksEnhancedJournal.shop'}}" data-dtype="Boolean" {{journal-shop-checked}} />
			</div>
			<hr>

			<!-- SHOW -->
			<div class="form-group" id="form-group">
				<label for="journal-show" class="text-label">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="journal-show" name="journal-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.JournalEntries'}}" data-dtype="Boolean" {{journal-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.JournalEntries'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>

		<!-- SCENES Tab -->
		<div class="tab" data-tab="actor-scenes" data-group="components">

			<!-- SCENE NAME -->
			<div class="form-group" id="form-group-name">
				<label for="scene-name" class="text-label">{{localize 'DOCUMENT.Scenes'}}</label>
				<input type="text" id="scene-name" name="scene-name" data-dtype="String" title="{{localize 'DOCUMENT.Scenes'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{scene-name-value}}" >
			</div>
			<div class="form-group" id="form-group">
				<label for="scene-case-sensitive" class="text-label">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="scene-case-sensitive" name="scene-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{scene-case-sensitive-checked}} />
			</div>
			<div class="form-group" id="form-group">
				<label for="scene-exact-match" class="text-label">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="scene-exact-match" name="scene-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{scene-exact-match-checked}} />
			</div>
			<hr>

			<div class="form-group" id="form-group">
				<label for="scene-none" class="text-label">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="scene-none" name="scene-none" title="{{localize 'No'}} {{localize 'DOCUMENT.Scenes'}}" data-dtype="Boolean" {{scene-none-checked}} />
			</div>
			<p class="notes">{{localize 'DOCUMENT.Actors'}} {{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Scenes'}}</p>
			<hr>

			<!-- SHOW -->
			<div class="form-group" id="form-group">
				<label for="scene-show" class="text-label">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="scene-show" name="scene-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Scenes'}}" data-dtype="Boolean" {{scene-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Scenes'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>		
	</div>

	<!-- SUBMIT -->
	<button type="submit" id="analytics-submit" name="submit" title="{{localize 'FILES.Search'}} {{localize 'DOCUMENT.Actors'}}"><i class="fas fa-search"></i> {{localize 'FILES.Search'}}</button>

	<!-- LIST HEADER -->	
	<div id="analytics-header">
		{{localize 'ANALYTICS.NumberOf'}} {{localize 'DOCUMENT.Actors'}} {{actor-count}}&nbsp;/&nbsp;{{number-of-actors}}
	</div>
		
	<!-- LIST -->
	<div id="analytics-list"></div>

</form>
