<form onsubmit="event.preventDefault();">

    <script>
        function toggle_analytics_playlists_radio() {
            document.getElementById("analytics-playlists-playlist-name").disabled           = !document.getElementById("analytics-playlists-playlist-radio-name").checked;
            document.getElementById("analytics-playlists-playlist-case-sensitive").disabled = !document.getElementById("analytics-playlists-playlist-radio-name").checked;
            document.getElementById("analytics-playlists-playlist-exact-match").disabled    = !document.getElementById("analytics-playlists-playlist-radio-name").checked;
            document.getElementById("analytics-playlists-playlist-id").disabled             = !document.getElementById("analytics-playlists-playlist-radio-id").checked;
        }
        function toggle_analytics_playlists_in_compendium_radio() {
            document.getElementById("analytics-playlists-in-compendium-name").disabled           = !document.getElementById("analytics-playlists-in-compendium-radio-name").checked;
            document.getElementById("analytics-playlists-in-compendium-case-sensitive").disabled = !document.getElementById("analytics-playlists-in-compendium-radio-name").checked;
            document.getElementById("analytics-playlists-in-compendium-exact-match").disabled    = !document.getElementById("analytics-playlists-in-compendium-radio-name").checked;
            document.getElementById("analytics-playlists-in-compendium-id").disabled             = !document.getElementById("analytics-playlists-in-compendium-radio-id").checked;
        }
        function toggle_analytics_playlists_in_journal_radio() {
            document.getElementById("analytics-playlists-in-journal-name").disabled           = !document.getElementById("analytics-playlists-in-journal-radio-name").checked;
            document.getElementById("analytics-playlists-in-journal-case-sensitive").disabled = !document.getElementById("analytics-playlists-in-journal-radio-name").checked;
            document.getElementById("analytics-playlists-in-journal-exact-match").disabled    = !document.getElementById("analytics-playlists-in-journal-radio-name").checked;
            document.getElementById("analytics-playlists-in-journal-id").disabled             = !document.getElementById("analytics-playlists-in-journal-radio-id").checked;
        }
        function toggle_analytics_playlists_in_scene_radio() {
            document.getElementById("analytics-playlists-in-scene-name").disabled           = !document.getElementById("analytics-playlists-in-scene-radio-name").checked;
            document.getElementById("analytics-playlists-in-scene-case-sensitive").disabled = !document.getElementById("analytics-playlists-in-scene-radio-name").checked;
            document.getElementById("analytics-playlists-in-scene-exact-match").disabled    = !document.getElementById("analytics-playlists-in-scene-radio-name").checked;
            document.getElementById("analytics-playlists-in-scene-id").disabled             = !document.getElementById("analytics-playlists-in-scene-radio-id").checked;
        }
        function toggle_analytics_playlists_in_table_radio() {
            document.getElementById("analytics-playlists-in-table-name").disabled           = !document.getElementById("analytics-playlists-in-table-radio-name").checked;
            document.getElementById("analytics-playlists-in-table-case-sensitive").disabled = !document.getElementById("analytics-playlists-in-table-radio-name").checked;
            document.getElementById("analytics-playlists-in-table-exact-match").disabled    = !document.getElementById("analytics-playlists-in-table-radio-name").checked;
            document.getElementById("analytics-playlists-in-table-id").disabled             = !document.getElementById("analytics-playlists-in-table-radio-id").checked;
        }
    </script>

    <h3 align="center"><i class="fas fa-music"></i>&nbsp;&nbsp;{{localize 'DOCUMENT.Playlists'}}</h3>

    <!-- Navigation -->
    <nav class="sheet-tabs tabs" data-group="analytics-playlists-group">
        <a class="item" data-tab="analytics-playlists-in-compendiums" id="analytics-tab" title="(12) {{localize 'DOCUMENT.Playlists'}} {{localize 'ANALYTICS.In'}} {{localize 'ANALYTICS.Compendiums'}}">
            {{localize 'ANALYTICS.In'}}<br>{{localize 'ANALYTICS.Compendiums'}}<br><i class="fas fa-atlas"></i></a>
        <a class="item" data-tab="analytics-playlists-in-journals"    id="analytics-tab" title="(22) {{localize 'DOCUMENT.Playlists'}} {{localize 'ANALYTICS.In'}} {{localize 'ANALYTICS.Journals'}}">
            {{localize 'ANALYTICS.In'}}<br>{{localize 'ANALYTICS.Journals'}}<br><i class="fas fa-book-open"></i></a>
        <a class="item" data-tab="analytics-playlists-in-scenes"      id="analytics-tab" title="(30) {{localize 'DOCUMENT.Playlists'}} {{localize 'ANALYTICS.In'}} {{localize 'DOCUMENT.Scenes'}}">
            {{localize 'ANALYTICS.In'}}<br>{{localize 'DOCUMENT.Scenes'}}<br><i class="fas fa-map"></i></a>
        <a class="item" data-tab="analytics-playlists-in-tables"      id="analytics-tab" title="(31) {{localize 'DOCUMENT.Playlists'}} {{localize 'ANALYTICS.In'}} {{localize 'ANALYTICS.Tables'}}">
            {{localize 'ANALYTICS.In'}}<br>{{localize 'ANALYTICS.Tables'}}<br><i class="fas fa-map"></i></a>
    </nav>

    <!-- PLAYLISTS -->
    <div class="analytics-playlists-controls">

        <!-- PLAYLIST NAME -->
        <label for="analytics-playlists-name"><i class="fas fa-music"></i>&nbsp;{{localize 'DOCUMENT.Playlists'}}</label>
        <div>
            <input type="radio" class="analytics-radio" id="analytics-playlists-radio-name" name="analytics-playlists-radio" onClick="toggle_analytics_playlists_radio()" value="name" {{analytics-playlists-radio-name-checked}} >
            <input type="text" class="analytics-name" id="analytics-playlists-name" name="analytics-playlists-name" data-dtype="String" title="{{localize 'DOCUMENT.Playlists'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{analytics-playlists-name-value}}" >
        </div>
        <!-- PLAYLIST ID -->
        <div>
            <input type="radio" class="analytics-radio" id="analytics-playlists-radio-id" name="analytics-playlists-radio" onClick="toggle_analytics_playlists_radio()" value="id" {{analytics-playlists-radio-id-checked}} >
            <input type="text" class="analytics-id" id="analytics-playlists-id" name="analytics-playlists-id" data-dtype="String" title="{{localize 'DOCUMENT.Playlists'}} {{localize 'ANALYTICS.ID'}}" placeholder="{{localize 'ANALYTICS.ID'}}" value="{{analytics-playlists-id-value}}" >
        </div>
        <div class="form-group" id="analytics">
            <label for="analytics-playlists-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
            <input type="checkbox" id="analytics-playlists-case-sensitive" name="analytics-playlists-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-case-sensitive-checked}} />
        </div>
        <div class="form-group" id="analytics">
            <label for="analytics-playlists-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
            <input type="checkbox" id="analytics-playlists-exact-match" name="analytics-playlists-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-exact-match-checked}} />
        </div>
        <hr>

        <!-- SHOW -->
        <div class="form-group" id="analytics">
            <label for="analytics-playlists-show-id">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.ID'}}</label>
            <input type="checkbox" id="analytics-playlists-show-id" name="analytics-playlists-show-id" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.ID'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-playlists-show-id-checked}} />
        </div>
    </div>

    <!-- Tabs -->
    <div class="analytics-playlists-tabbed-controls">

        <!-- (12) IN COMPENDIUMS -->
        <div class="tab" data-tab="analytics-playlists-in-compendiums" data-group="analytics-playlists-group">

            <!-- COMPENDIUM NAME -->
            <label for="analytics-playlists-in-compendium-name"><i class="fas fa-th-list"></i>&nbsp;{{localize 'ANALYTICS.In'}} {{localize 'ANALYTICS.Compendiums'}}</label>
            <div>
                <input type="radio" class="analytics-radio" id="analytics-playlists-in-compendium-radio-name" name="analytics-playlists-in-compendium-radio" onClick="toggle_analytics_playlists_in_compendium_radio()" value="name" {{analytics-playlists-in-compendium-radio-name-checked}} >
                <input type="text" class="analytics-name" id="analytics-playlists-in-compendium-name" name="analytics-playlists-in-compendium-name" data-dtype="String" title="{{localize 'ANALYTICS.Compendiums'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{analytics-playlists-in-compendium-name-value}}" >
            </div>
            <!-- COMPENDIUM ID -->
            <div>
                <input type="radio" class="analytics-radio" id="analytics-playlists-in-compendium-radio-id" name="analytics-playlists-in-compendium-radio" onClick="toggle_analytics_playlists_in_compendium_radio()" value="id" {{analytics-playlists-in-compendium-radio-id-checked}} >
                <input type="text" class="analytics-id" id="analytics-playlists-in-compendium-id" name="analytics-playlists-in-compendium-id" data-dtype="String" title="{{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.ID'}}" placeholder="{{localize 'ANALYTICS.ID'}}" value="{{analytics-playlists-in-compendium-id-value}}" >
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-compendium-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
                <input type="checkbox" id="analytics-playlists-in-compendium-case-sensitive" name="analytics-playlists-in-compendium-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-in-compendium-case-sensitive-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-compendium-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
                <input type="checkbox" id="analytics-playlists-in-compendium-exact-match" name="analytics-playlists-in-compendium-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-in-compendium-exact-match-checked}} />
            </div>
            <hr>

            <!-- COMPENDIUM OPTIONS -->
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-compendium-none">{{localize 'DND5E.None'}}</label>
                <input type="checkbox" id="analytics-playlists-in-compendium-none" name="analytics-playlists-in-compendium-none" title="{{localize 'ANALYTICS.NotIn'}} {{localize 'ANALYTICS.Compendiums'}}" data-dtype="Boolean" {{analytics-playlists-in-compendium-none-checked}} />
            </div>
            <p class="notes">{{localize 'DOCUMENT.Actors'}} {{localize 'ANALYTICS.NotIn'}} {{localize 'ANALYTICS.Compendiums'}}</p>
            <hr>

            <!-- SHOW -->
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-compendium-show">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.Compendiums'}}</label>
                <input type="checkbox" id="analytics-playlists-in-compendium-show" name="analytics-playlists-in-compendium-show" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-playlists-in-compendium-show-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-compendium-id">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.ID'}}</label>
                <input type="checkbox" id="analytics-playlists-in-compendium-show-id" name="analytics-playlists-in-compendium-show-id" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.ID'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {in-compendium-show-id-checked}} />
            </div>
        </div>

        <!-- (22) IN JOURNALS -->
        <div class="tab" data-tab="analytics-playlists-in-journals" data-group="analytics-playlists-group">

            <!-- JOURNAL NAME -->
            <label for="analytics-playlists-in-journal-name"><i class="fas fa-book-open"></i>&nbsp;{{localize 'ANALYTICS.In'}} {{localize 'ANALYTICS.Journals'}}</label>
            <div>
                <input type="radio" class="analytics-radio" id="analytics-playlists-in-journal-radio-name" name="analytics-playlists-in-journal-radio" onClick="toggle_analytics_playlists_in_journal_radio()" value="name" {{analytics-playlists-in-journal-radio-name-checked}} >
                <input type="text" class="analytics-name" id="analytics-playlists-in-journal-name" name="analytics-playlists-in-journal-name" data-dtype="String" title="{{localize 'ANALYTICS.Journals'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{analytics-playlists-in-journal-name-value}}" >
            </div>
            <!-- JOURNAL ID -->
            <div>
                <input type="radio" class="analytics-radio" id="analytics-playlists-in-journal-radio-id" name="analytics-playlists-in-journal-radio" onClick="toggle_analytics_playlists_in_journal_radio()" value="id" {{analytics-playlists-in-journal-radio-id-checked}} >
                <input type="text" class="analytics-id" id="analytics-playlists-in-journal-id" name="analytics-playlists-in-journal-id" data-dtype="String" title="{{localize 'ANALYTICS.Journals'}} {{localize 'ANALYTICS.ID'}}" placeholder="{{localize 'ANALYTICS.ID'}}" value="{{analytics-playlists-in-journal-id-value}}" >
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-case-sensitive" name="analytics-playlists-in-journal-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-case-sensitive-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-exact-match" name="analytics-playlists-in-journal-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-exact-match-checked}} />
            </div>
            <hr>

            <!-- JOURNAL OPTIONS -->
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-none">{{localize 'DND5E.None'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-none" name="analytics-playlists-in-journal-none" title="{{localize 'ANALYTICS.NotIn'}} {{localize 'ANALYTICS.Journals'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-none-checked}} />
            </div>
            <p class="notes">{{localize 'DOCUMENT.Playlists'}} {{localize 'ANALYTICS.NotIn'}} {{localize 'ANALYTICS.Journals'}}</p>

            <!-- MONK'S -->
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-base" id="analytics-playlists-in-journal-base-label">{{localize 'MonksEnhancedJournal.base'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-base" name="analytics-playlists-in-journal-base" title="{{localize 'MonksEnhancedJournal.base'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-base-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-checklist" id="analytics-playlists-in-journal-checklist-label">{{localize 'MonksEnhancedJournal.checklist'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-checklist" name="analytics-playlists-in-journal-checklist" title="{{localize 'MonksEnhancedJournal.checklist'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-checklist-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-encounter" id="analytics-playlists-in-journal-encounter-label">{{localize 'MonksEnhancedJournal.encounter'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-encounter" name="analytics-playlists-in-journal-encounter" title="{{localize 'MonksEnhancedJournal.encounter'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-encounter-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-loot" id="analytics-playlists-in-journal-loot-label">{{localize 'MonksEnhancedJournal.loot'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-loot" name="analytics-playlists-in-journal-loot" title="{{localize 'MonksEnhancedJournal.loot'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-loot-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-organization" id="analytics-playlists-in-journal-organization-label">{{localize 'MonksEnhancedJournal.organization'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-organization" name="analytics-playlists-in-journal-organization" title="{{localize 'MonksEnhancedJournal.organization'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-organization-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-person" id="analytics-playlists-in-journal-person-label">{{localize 'MonksEnhancedJournal.person'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-person" name="analytics-playlists-in-journal-person" title="{{localize 'MonksEnhancedJournal.person'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-person-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-place" id="analytics-playlists-in-journal-place-label">{{localize 'MonksEnhancedJournal.place'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-place" name="analytics-playlists-in-journal-place" title="{{localize 'MonksEnhancedJournal.place'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-place-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-poi" id="analytics-playlists-in-journal-poi-label">{{localize 'MonksEnhancedJournal.poi'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-poi" name="analytics-playlists-in-journal-poi" title="{{localize 'MonksEnhancedJournal.poi'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-poi-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-quest" id="analytics-playlists-in-journal-quest-label">{{localize 'MonksEnhancedJournal.quest'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-quest" name="analytics-playlists-in-journal-quest" title="{{localize 'MonksEnhancedJournal.quest'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-quest-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-shop" id="analytics-playlists-in-journal-shop-label">{{localize 'MonksEnhancedJournal.shop'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-shop" name="analytics-playlists-in-journal-shop" title="{{localize 'MonksEnhancedJournal.shop'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-shop-checked}} />
            </div>
            <hr>

            <!-- SHOW -->
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-show">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.Journals'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-show" name="analytics-playlists-in-journal-show" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.Journals'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-playlists-in-journal-show-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-journal-id">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.ID'}}</label>
                <input type="checkbox" id="analytics-playlists-in-journal-show-id" name="analytics-playlists-in-journal-show-id" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.ID'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {in-journal-show-id-checked}} />
            </div>
        </div>

        <!-- (30) IN SCENES -->
        <div class="tab" data-tab="analytics-playlists-in-scenes" data-group="analytics-playlists-group">

            <!-- SCENE NAME -->
            <label for="analytics-playlists-in-scene-name"><i class="fas fa-map"></i>&nbsp;{{localize 'ANALYTICS.In'}} {{localize 'DOCUMENT.Scenes'}}</label>
            <div>
                <input type="radio" class="analytics-radio" id="analytics-playlists-in-scene-radio-name" name="analytics-playlists-in-scene-radio" onClick="toggle_analytics_playlists_in_scene_radio()" value="name" {{analytics-playlists-in-scene-radio-name-checked}} >
                <input type="text" class="analytics-name" id="analytics-playlists-in-scene-name" name="analytics-playlists-in-scene-name" data-dtype="String" title="{{localize 'DOCUMENT.Scenes'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{analytics-playlists-in-scene-name-value}}" >
            </div>
            <!-- SCENE ID -->
            <div>
                <input type="radio" class="analytics-radio" id="analytics-playlists-in-scene-radio-id" name="analytics-playlists-in-scene-radio" onClick="toggle_analytics_playlists_in_scene_radio()" value="id" {{analytics-playlists-in-scene-radio-id-checked}} >
                <input type="text" class="analytics-id" id="analytics-playlists-in-scene-id" name="analytics-playlists-in-scene-id" data-dtype="String" title="{{localize 'DOCUMENT.Scenes'}} {{localize 'ANALYTICS.ID'}}" placeholder="{{localize 'ANALYTICS.ID'}}" value="{{analytics-playlists-in-scene-id-value}}" >
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-scene-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
                <input type="checkbox" id="analytics-playlists-in-scene-case-sensitive" name="analytics-playlists-in-scene-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-in-scene-case-sensitive-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-scene-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
                <input type="checkbox" id="analytics-playlists-in-scene-exact-match" name="analytics-playlists-in-scene-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-in-scene-exact-match-checked}} />
            </div>
            <hr>

            <!-- SCENE OPTIONS -->
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-scene-none">{{localize 'DND5E.None'}}</label>
                <input type="checkbox" id="analytics-playlists-in-scene-none" name="analytics-playlists-in-scene-none" title="{{localize 'ANALYTICS.NotIn'}} {{localize 'DOCUMENT.Scenes'}}" data-dtype="Boolean" {{analytics-playlists-in-scene-none-checked}} />
            </div>
            <p class="notes">{{localize 'DOCUMENT.Playlists'}} {{localize 'ANALYTICS.NotIn'}} {{localize 'DOCUMENT.Scenes'}}</p>
            <hr>

            <!-- SHOW -->
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-scene-show">{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Scenes'}}</label>
                <input type="checkbox" id="analytics-playlists-in-scene-show" name="analytics-playlists-in-scene-show" title="{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Scenes'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-playlists-in-scene-show-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-scene-id">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.ID'}}</label>
                <input type="checkbox" id="analytics-playlists-in-scene-show-id" name="analytics-playlists-in-scene-show-id" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.ID'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {in-scene-show-id-checked}} />
            </div>
        </div>

        <!-- (31) IN TABLES -->
        <div class="tab" data-tab="analytics-playlists-in-tables" data-group="analytics-playlists-group">

            <!-- TABLE NAME -->
            <label for="analytics-playlists-in-table-name"><i class="fas fa-th-list"></i>&nbsp;{{localize 'ANALYTICS.In'}} {{localize 'ANALYTICS.Tables'}}</label>
            <div>
                <input type="radio" class="analytics-radio" id="analytics-playlists-in-table-radio-name" name="analytics-playlists-in-table-radio" onClick="toggle_analytics_playlists_in_table_radio()" value="name" {{analytics-playlists-in-table-radio-name-checked}} >
                <input type="text" class="analytics-name" id="analytics-playlists-in-table-name" name="analytics-playlists-in-table-name" data-dtype="String" title="{{localize 'ANALYTICS.Tables'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{analytics-playlists-in-table-name-value}}" >
            </div>
            <!-- TABLE ID -->
            <div>
                <input type="radio" class="analytics-radio" id="analytics-playlists-in-table-radio-id" name="analytics-playlists-in-table-radio" onClick="toggle_analytics_playlists_in_table_radio()" value="id" {{analytics-playlists-in-table-radio-id-checked}} >
                <input type="text" class="analytics-id" id="analytics-playlists-in-table-id" name="analytics-playlists-in-table-id" data-dtype="String" title="{{localize 'ANALYTICS.Tables'}} {{localize 'ANALYTICS.ID'}}" placeholder="{{localize 'ANALYTICS.ID'}}" value="{{analytics-playlists-in-table-id-value}}" >
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-table-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
                <input type="checkbox" id="analytics-playlists-in-table-case-sensitive" name="analytics-playlists-in-table-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-in-table-case-sensitive-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-table-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
                <input type="checkbox" id="analytics-playlists-in-table-exact-match" name="analytics-playlists-in-table-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-playlists-in-table-exact-match-checked}} />
            </div>
            <hr>

            <!-- TABLE OPTIONS -->
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-table-none">{{localize 'DND5E.None'}}</label>
                <input type="checkbox" id="analytics-playlists-in-table-none" name="analytics-playlists-in-table-none" title="{{localize 'ANALYTICS.NotIn'}} {{localize 'ANALYTICS.Tables'}}" data-dtype="Boolean" {{analytics-playlists-in-table-none-checked}} />
            </div>
            <p class="notes">{{localize 'DOCUMENT.Playlists'}} {{localize 'ANALYTICS.NotIn'}} {{localize 'ANALYTICS.Tables'}}</p>
            <hr>

            <!-- SHOW -->
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-table-show">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.Tables'}}</label>
                <input type="checkbox" id="analytics-playlists-in-table-show" name="analytics-playlists-in-table-show" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.Tables'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-playlists-in-table-show-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-playlists-in-table-id">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.ID'}}</label>
                <input type="checkbox" id="analytics-playlists-in-table-show-id" name="analytics-playlists-in-table-show-id" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.ID'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {in-table-show-id-checked}} />
            </div>
        </div>
    </div>

    <!-- SUBMIT -->
    <button type="submit" class="analytics-playlists-submit" name="submit" title="{{localize 'FILES.Search'}} {{localize 'DOCUMENT.Playlists'}}"><i class="fas fa-search"></i>&nbsp;{{localize 'FILES.Search'}}</button>

    <!-- LIST HEADER -->
    <div class="analytics-playlists-header">
        <i class="fas fa-music"></i>&nbsp;{{localize 'ANALYTICS.NumberOf'}} {{localize 'DOCUMENT.Playlists'}} {{analytics-playlists-playlist-count}}&nbsp;/&nbsp;{{analytics-playlists-number-of-playlists}}
    </div>

    <!-- LIST -->
    <div class="analytics-playlists-list" id="analytics-playlists-list"></div>
</form>
