<form onsubmit="event.preventDefault();">

    <script>
        function toggle_analytics_tiles_radio() {
            document.getElementById("analytics-tiles-tile-name").disabled           = !document.getElementById("analytics-tiles-tile-radio-name").checked;
            document.getElementById("analytics-tiles-tile-case-sensitive").disabled = !document.getElementById("analytics-tiles-tile-radio-name").checked;
            document.getElementById("analytics-tiles-tile-exact-match").disabled    = !document.getElementById("analytics-tiles-tile-radio-name").checked;
            document.getElementById("analytics-tiles-tile-id").disabled             = !document.getElementById("analytics-tiles-tile-radio-id").checked;
        }
        function toggle_analytics_tiles_with_macro_radio() {
            document.getElementById("analytics-tiles-with-macro-name").disabled           = !document.getElementById("analytics-tiles-with-macro-radio-name").checked;
            document.getElementById("analytics-tiles-with-macro-case-sensitive").disabled = !document.getElementById("analytics-tiles-with-macro-radio-name").checked;
            document.getElementById("analytics-tiles-with-macro-exact-match").disabled    = !document.getElementById("analytics-tiles-with-macro-radio-name").checked;
            document.getElementById("analytics-tiles-with-macro-id").disabled             = !document.getElementById("analytics-tiles-with-macro-radio-id").checked;
        }
        function toggle_analytics_tiles_in_scene_radio() {
            document.getElementById("analytics-tiles-in-scene-name").disabled           = !document.getElementById("analytics-tiles-in-scene-radio-name").checked;
            document.getElementById("analytics-tiles-in-scene-case-sensitive").disabled = !document.getElementById("analytics-tiles-in-scene-radio-name").checked;
            document.getElementById("analytics-tiles-in-scene-exact-match").disabled    = !document.getElementById("analytics-tiles-in-scene-radio-name").checked;
            document.getElementById("analytics-tiles-in-scene-id").disabled             = !document.getElementById("analytics-tiles-in-scene-radio-id").checked;
        }
    </script>

    <h3 align="center"><i class="fas fa-cubes"></i>&nbsp;&nbsp;{{localize 'DOCUMENT.Tiles'}}</h3>

    <!-- Navigation -->
    <nav class="sheet-tabs tabs" data-group="analytics-tiles-group">
        <a class="item" data-tab="analytics-tiles-with-macros" id="analytics-tab" title="(29) {{localize 'DOCUMENT.Tiles'}} {{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Macros'}}">
            {{localize 'ANALYTICS.With'}}<br>{{localize 'DOCUMENT.Macros'}}<br><i class="fas fa-suitcase"></i></a>
        <a class="item" data-tab="analytics-tiles-in-scenes"   id="analytics-tab" title="(33) {{localize 'DOCUMENT.Tiles'}} {{localize 'ANALYTICS.In'}} {{localize 'DOCUMENT.Scenes'}}">
            {{localize 'ANALYTICS.In'}}<br>{{localize 'DOCUMENT.Scenes'}}<br><i class="fas fa-map"></i></a>
    </nav>

    <!-- TILES -->
    <div class="analytics-tiles-controls">

        <!-- TILE NAME -->
        <label for="analytics-tiles-name"><i class="fas fa-cubes"></i>&nbsp;{{localize 'DOCUMENT.Tiles'}}</label>
        <div>
            <input type="radio" class="analytics-radio" id="analytics-tiles-radio-name" name="analytics-tiles-radio" onClick="toggle_analytics_tiles_radio()" value="name" {{analytics-tiles-radio-name-checked}} >
            <input type="text" class="analytics-name" id="analytics-tiles-name" name="analytics-tiles-name" data-dtype="String" title="{{localize 'DOCUMENT.Tiles'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{analytics-tiles-name-value}}" >
        </div>
        <!-- TILE ID -->
        <div>
            <input type="radio" class="analytics-radio" id="analytics-tiles-radio-id" name="analytics-tiles-radio" onClick="toggle_analytics_tiles_radio()" value="id" {{analytics-tiles-radio-id-checked}} >
            <input type="text" class="analytics-id" id="analytics-tiles-id" name="analytics-tiles-id" data-dtype="String" title="{{localize 'DOCUMENT.Tiles'}} {{localize 'ANALYTICS.ID'}}" placeholder="{{localize 'ANALYTICS.ID'}}" value="{{analytics-tiles-id-value}}" >
        </div>
        <div class="form-group" id="analytics">
            <label for="analytics-tiles-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
            <input type="checkbox" id="analytics-tiles-case-sensitive" name="analytics-tiles-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-tiles-case-sensitive-checked}} />
        </div>
        <div class="form-group" id="analytics">
            <label for="analytics-tiles-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
            <input type="checkbox" id="analytics-tiles-exact-match" name="analytics-tiles-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-tiles-exact-match-checked}} />
        </div>
        <hr>

        <!-- SHOW -->
        <div class="form-group" id="analytics">
            <label for="analytics-tiles-show-id">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.ID'}}</label>
            <input type="checkbox" id="analytics-tiles-show-id" name="analytics-tiles-show-id" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.ID'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-tiles-show-id-checked}} />
        </div>
    </div>

    <!-- Tabs -->
    <div class="analytics-tiles-tabbed-controls">

        <!-- (29) WITH MACROS -->
        <div class="tab" data-tab="analytics-tiles-with-macros" data-group="analytics-tiles-group">

            <!-- MACRO NAME -->
            <label for="analytics-tiles-with-macro-name"><i class="fas fa-folder"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Macros'}}</label>
            <div>
                <input type="radio" class="analytics-radio" id="analytics-tiles-with-macro-radio-name" name="analytics-tiles-with-macro-radio" onClick="toggle_analytics_tiles_with_macro_radio()" value="name" {{analytics-tiles-with-macro-radio-name-checked}} >
                <input type="text" class="analytics-name" id="analytics-tiles-with-macro-name" name="analytics-tiles-with-macro-name" data-dtype="String" title="{{localize 'DOCUMENT.Macros'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{journal-name-value}}" >
            </div>
            <!-- MACRO ID -->
            <div>
                <input type="radio" class="analytics-radio" id="analytics-tiles-with-macro-radio-id" name="analytics-tiles-with-macro-radio" onClick="toggle_analytics_tiles_with_macro_radio()" value="id" {{analytics-tiles-with-macro-radio-id-checked}} >
                <input type="text" class="analytics-id" id="analytics-tiles-with-macro-id" name="analytics-tiles-with-macro-id" data-dtype="String" title="{{localize 'DOCUMENT.Macros'}} {{localize 'ANALYTICS.ID'}}" placeholder="{{localize 'ANALYTICS.ID'}}" value="{{analytics-tiles-with-macro-id-value}}" >
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-with-macro-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
                <input type="checkbox" id="analytics-tiles-with-macro-case-sensitive" name="analytics-tiles-with-macro-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{journal-case-sensitive-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-with-macro-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
                <input type="checkbox" id="analytics-tiles-with-macro-exact-match" name="analytics-tiles-with-macro-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{journal-exact-match-checked}} />
            </div>
            <hr>

            <!-- MACRO OPTIONS -->
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-with-macro-none">{{localize 'DND5E.None'}}</label>
                <input type="checkbox" id="analytics-tiles-with-macro-none" name="analytics-tiles-with-macro-none" title="{{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Macros'}}" data-dtype="Boolean" {{analytics-tiles-with-macro-none-checked}} />
            </div>
            <p class="notes">{{localize 'DOCUMENT.Tiles'}} {{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Macros'}}</p>
            <hr>

            <!-- SHOW -->
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-with-macro-show">{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Macros'}}</label>
                <input type="checkbox" id="analytics-tiles-with-macro-show" name="analytics-tiles-with-macro-show" title="{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Macros'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-tiles-with-macro-show-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-with-macro-show-id">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.ID'}}</label>
                <input type="checkbox" id="analytics-tiles-with-macro-show-id" name="analytics-tiles-with-macro-show-id" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.ID'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-tiles-with-macro-show-id-checked}} />
            </div>
        </div>

        <!-- (33) IN SCENES -->
        <div class="tab" data-tab="analytics-tiles-in-scenes" data-group="analytics-tiles-group">

            <!-- SCENE NAME -->
            <label for="analytics-tiles-in-scene-name"><i class="fas fa-map"></i>&nbsp;{{localize 'ANALYTICS.In'}} {{localize 'DOCUMENT.Scenes'}}</label>
            <div>
                <input type="radio" class="analytics-radio" id="analytics-tiles-in-scene-radio-name" name="analytics-tiles-in-scene-radio" onClick="toggle_analytics_tiles_in_scene_radio()" value="name" {{analytics-tiles-in-scene-radio-name-checked}} >
                <input type="text" class="analytics-name" id="analytics-tiles-in-scene-name" name="analytics-tiles-in-scene-name" data-dtype="String" title="{{localize 'DOCUMENT.Scene'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{analytics-tiles-in-scene-name-value}}" >
            </div>
            <!-- SCENE ID -->
            <div>
                <input type="radio" class="analytics-radio" id="analytics-tiles-in-scene-radio-id" name="analytics-tiles-in-scene-radio" onClick="toggle_analytics_tiles_in_scene_radio()" value="id" {{analytics-tiles-in-scene-radio-id-checked}} >
                <input type="text" class="analytics-id" id="analytics-tiles-in-scene-id" name="analytics-tiles-in-scene-id" data-dtype="String" title="{{localize 'DOCUMENT.Scene'}} {{localize 'ANALYTICS.ID'}}" placeholder="{{localize 'ANALYTICS.ID'}}" value="{{analytics-tiles-in-scene-id-value}}" >
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-in-scene-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
                <input type="checkbox" id="analytics-tiles-in-scene-case-sensitive" name="analytics-tiles-in-scene-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-tiles-in-scene-case-sensitive-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-in-scene-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
                <input type="checkbox" id="analytics-tiles-in-scene-exact-match" name="analytics-tiles-in-scene-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{analytics-tiles-in-scene-exact-match-checked}} />
            </div>
            <hr>

            <!-- SCENE OPTIONS -->
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-in-scene-none">{{localize 'DND5E.None'}}</label>
                <input type="checkbox" id="analytics-tiles-in-scene-none" name="analytics-tiles-in-scene-none" title="{{localize 'ANALYTICS.NotIn'}} {{localize 'DOCUMENT.Scenes'}}" data-dtype="Boolean" {{analytics-tiles-in-scene-none-checked}} />
            </div>
            <p class="notes">{{localize 'DOCUMENT.Tiles'}} {{localize 'ANALYTICS.NotIn'}} {{localize 'DOCUMENT.Scenes'}}</p>
            <hr>

            <!-- SHOW -->
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-in-scene-show">{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Scenes'}}</label>
                <input type="checkbox" id="analytics-tiles-in-scene-show" name="analytics-tiles-in-scene-show" title="{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Scenes'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-tiles-in-scene-show-checked}} />
            </div>
            <div class="form-group" id="analytics">
                <label for="analytics-tiles-in-scene-show-id">{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.ID'}}</label>
                <input type="checkbox" id="analytics-tiles-in-scene-show-id" name="analytics-tiles-in-scene-show-id" title="{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.ID'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}" data-dtype="Boolean" {{analytics-tiles-in-scene-show-id-checked}} />
            </div>
        </div>
    </div>

    <!-- SUBMIT -->
    <button type="submit" class="analytics-tiles-submit" name="submit" title="{{localize 'FILES.Search'}} {{localize 'DOCUMENT.Tiles'}}"><i class="fas fa-search"></i>&nbsp;{{localize 'FILES.Search'}}</button>

    <!-- LIST HEADER -->
    <div class="analytics-tiles-header">
        <i class="fas fa-cubes"></i>&nbsp;{{localize 'ANALYTICS.NumberOf'}} {{localize 'DOCUMENT.Tiles'}} {{analytics-tiles-tile-count}}&nbsp;/&nbsp;{{analytics-tiles-number-of-tiles}}
    </div>

    <!-- LIST -->
    <div class="analytics-tiles-list" id="analytics-tiles-list"></div>
</form>
