<form id="analytics-form" onsubmit="event.preventDefault();">

    <style>
		/* form */
        #analytics-compendiums {
            min-width: 740px;
            min-height: 690px;
        }

		/* ------------ */

		/* tabbed controls position */
        .analytics-compendiums-tabbed-controls {
            position: absolute;
            top: 145px;
            bottom: 45px;
            width: 200px;
            right: 8px;
            overflow-x: hidden;
            overflow-y: auto;
        }
		
		/* controls position */
        .analytics-compendiums-controls {
            position: absolute;
            top: 145px;
            bottom: 45px;
            width: 200px;
            right: 225px;
            overflow-x: hidden;
            overflow-y: auto;
        }

		/* list header position */
        .analytics-compendiums-header {
            position: absolute;
            top: 145px;
            height: 20px;
            left: 8px;
            right: 440px;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
        }

		/* list position */
        .analytics-compendiums-list {
            position: absolute;
            top: 165px;
            bottom: 5px;
            left: 8px;
            right: 440px;
			border-radius: 3px;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
			background: rgba(0, 0, 0, 0.05);
			border: 1px solid var(--color-border-light-tertiary);
        }

		/* submit position */
        .analytics-compendiums-submit {
            position: absolute;
            bottom: 5px;
            right: 25px;
            width: 390px;
        }

		/* ------------ */

        .analytics-message-even {
            position: relative;
            margin: 10px 0 2px 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-message-odd {
            position: relative;
            margin: 10px 0 2px 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }

        .analytics-actor-name-even {
            position: relative;
            margin: 10px 0 2px 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            font-weight: bold;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-actor-name-odd {
            position: relative;
            margin: 10px 0 2px 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            font-weight: bold;
        }

        .analytics-item-name-even {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-item-name-odd {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }

        .analytics-macro-name-even {
            position: relative;
            margin: 0 0 2px 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: italic;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-macro-name-odd {
            position: relative;
            margin: 0 0 2px 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: italic;
        }

        .analytics-macro-name-error-even {
            position: relative;
            margin: 0 0 2px 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: italic;
			color: var(--color-border-highlight-alt);
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-macro-name-error-odd {
            position: relative;
            margin: 0 0 2px 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: italic;
			color: var(--color-border-highlight-alt);
        }

        .analytics-journal-name-even {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-journal-name-odd {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }

        .analytics-scene-name-even {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
            xbackground-color: var(--color-text-light-highlight);
        }

        .analytics-scene-name-odd {
            position: relative;
            margin: 0 0 2px 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }
    </style>

    <script>
        function toggle_creature_types() {
            document.getElementById("with-actor-aberration").disabled     = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-beast").disabled          = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-celestial").disabled      = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-construct").disabled      = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-dragon").disabled         = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-elemental").disabled      = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-fey").disabled            = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-fiend").disabled          = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-giant").disabled          = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-humanoid").disabled       = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-monstrosity").disabled    = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-ooze").disabled           = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-plant").disabled          = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-swarm").disabled          = !document.getElementById("with-actor-npc").checked;
            document.getElementById("with-actor-undead").disabled         = !document.getElementById("with-actor-npc").checked;
        }
        function toggle_item_macro() {
            document.getElementById("with-item-macro-name").disabled           = !document.getElementById("with-item-macro").checked;
            document.getElementById("with-item-macro-case-sensitive").disabled = !document.getElementById("with-item-macro").checked;
            document.getElementById("with-item-macro-exact-match").disabled    = !document.getElementById("with-item-macro").checked;
        }
    </script>

	<h3 align="center"><i class="fas fa-atlas"></i>&nbsp;&nbsp;{{localize 'ANALYTICS.Compendiums'}}</h3>

    <!-- Navigation -->
    <nav class="sheet-tabs tabs" data-group="components">
        <a class="item" data-tab="compendiums-with-actors"    id="analytics-tab" title="(1) {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Actors'}}">
			{{localize 'ANALYTICS.With'}}<br>{{localize 'DOCUMENT.Actors'}}<br><i class="fas fa-users"></i></a>
        <a class="item" data-tab="compendiums-with-cards"     id="analytics-tab" title="(6) {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.With'}} {{localize 'CARDS.HeaderCards'}}">
			{{localize 'ANALYTICS.With'}}<br>{{localize 'CARDS.HeaderCards'}}<br><i class="fas fa-id-badge"></i></a>
        <a class="item" data-tab="compendiums-with-items"     id="analytics-tab" title="(9) {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Items'}}">
			{{localize 'ANALYTICS.With'}}<br>{{localize 'DOCUMENT.Items'}}<br><i class="fas fa-suitcase"></i></a>
        <a class="item" data-tab="compendiums-with-journals"  id="analytics-tab" title="(10) {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.With'}} {{localize 'ANALYTICS.Journals'}}">
			{{localize 'ANALYTICS.With'}}<br>{{localize 'ANALYTICS.Journals'}}<br><i class="fas fa-book-open"></i></a>
        <a class="item" data-tab="compendiums-with-macros"    id="analytics-tab" title="(11) {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Macros'}}">
			{{localize 'ANALYTICS.With'}}<br>{{localize 'DOCUMENT.Macros'}}<br><i class="fas fa-folder"></i></a>
        <a class="item" data-tab="compendiums-with-playlists" id="analytics-tab" title="(12) {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Playlists'}}">
			{{localize 'ANALYTICS.With'}}<br>{{localize 'DOCUMENT.Playlists'}}<br><i class="fas fa-music"></i></a>
        <a class="item" data-tab="compendiums-with-scenes"    id="analytics-tab" title="(13) {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Scenes'}}">
			{{localize 'ANALYTICS.With'}}<br>{{localize 'DOCUMENT.Scenes'}}<br><i class="fas fa-map"></i></a>
        <a class="item" data-tab="compendiums-with-tables"    id="analytics-tab" title="(14) {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.With'}} {{localize 'ANALYTICS.Tables'}}">
			{{localize 'ANALYTICS.With'}}<br>{{localize 'ANALYTICS.Tables'}}<br><i class="fas fa-th-list"></i></a>
        <a class="item" data-tab="compendiums-in-tables"      id="analytics-tab" title="(15) {{localize 'ANALYTICS.Compendiums'}} {{localize 'ANALYTICS.In'}} {{localize 'ANALYTICS.Tables'}}">
			{{localize 'ANALYTICS.In'}}<br>{{localize 'ANALYTICS.Tables'}}<br><i class="fas fa-th-list"></i></a>
    </nav>

	<!-- COMPENDIUMS -->
	<div class="analytics-compendiums-controls">

		<!-- COMPENDIUM NAME -->
		<label for="journal-name"><i class="fas fa-atlas"></i>&nbsp;{{localize 'ANALYTICS.Compendiums'}}</label>
		<div class="form-group">
			<input type="text" id="journal-name" name="journal-name" title="{{localize 'ANALYTICS.Compendiums'}} {{localize 'Name'}}" data-dtype="String" placeholder="{{localize 'Name'}}" value="{{journal-name-value}}" >
		</div>
		<div class="form-group">
			<label for="journal-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
			<input type="checkbox" id="journal-case-sensitive" name="journal-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{journal-case-sensitive-checked}} />
		</div>
		<div class="form-group">
			<label for="journal-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
			<input type="checkbox" id="journal-exact-match" name="journal-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{journal-exact-match-checked}} />
		</div>
		<hr>
		
		<!-- COMPENDIUM OPTIONS -->
	</div>

	<!-- Tabs -->
	<div class="analytics-compendiums-tabbed-controls">

		<!-- (1) WITH ACTORS -->
		<div class="tab" data-tab="compendiums-with-actors" data-group="components">

			<!-- ACTOR NAME -->
			<label for="with-actor-name"><i class="fas fa-users"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Actors'}}</label>
			<div class="form-group">
				<input type="text" id="with-actor-name" name="with-actor-name" title="{{localize 'DOCUMENT.Actors'}} {{localize 'Name'}}" data-dtype="String" placeholder="{{localize 'Name'}}" value="{{with-actor-name-value}}" >
			</div>
			<div class="form-group">
				<label for="with-actor-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="with-actor-case-sensitive" name="with-actor-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-actor-case-sensitive-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="with-actor-exact-match" name="with-actor-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-actor-exact-match-checked}} />
			</div>
			<hr>

			<!-- ACTOR OPTIONS -->
			<div class="form-group">
				<label for="with-actor-none">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="with-actor-none" name="with-actor-none" title="{{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Actors'}}" data-dtype="Boolean" {{item-none-checked}} />
			</div>
			<p class="notes">{{localize 'COMPENDIUM.SidebarTitle'}} {{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Actors'}}</p>
			<div class="form-group">
				<label for="with-actor-character">{{localize 'ACTOR.TypeCharacter'}}</label>
				<input type="checkbox" id="with-actor-character" name="with-actor-character" title="{{localize 'ACTOR.TypeCharacter'}} {{localize 'DOCUMENT.Actors'}}" data-dtype="Boolean" {{with-actor-character-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-vehicle">{{localize 'ACTOR.TypeVehicle'}}</label>
				<input type="checkbox" id="with-actor-vehicle" name="with-actor-vehicle" title="{{localize 'ACTOR.TypeVehicle'}} {{localize 'DOCUMENT.Actors'}}" data-dtype="Boolean" {{with-actor-vehicle-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-npc">{{localize 'ACTOR.TypeNpc'}}</label>
				<input type="checkbox" id="with-actor-npc" name="with-actor-npc" title="{{localize 'ACTOR.TypeNpc'}} {{localize 'DOCUMENT.Actors'}}" data-dtype="Boolean" onClick="toggle_creature_types()" {{with-actor-npc-checked}} />
			</div>
			<hr> 

			<!-- CREATURE TYPES -->
			<div class="form-group">
				<label for="with-actor-aberration">{{localize 'DND5E.CreatureAberration'}}</label>
				<input type="checkbox" id="with-actor-aberration" name="with-actor-aberration" title="{{localize 'DND5E.CreatureAberration'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-aberration-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-beast">{{localize 'DND5E.CreatureBeast'}}</label>
				<input type="checkbox" id="with-actor-beast" name="with-actor-beast" title="{{localize 'DND5E.CreatureBeast'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-beast-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-celestial">{{localize 'DND5E.CreatureCelestial'}}</label>
				<input type="checkbox" id="with-actor-celestial" name="with-actor-celestial" title="{{localize 'DND5E.CreatureCelestial'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-celestial-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-construct">{{localize 'DND5E.CreatureConstruct'}}</label>
				<input type="checkbox" id="with-actor-construct" name="with-actor-construct" title="{{localize 'DND5E.CreatureConstruct'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-construct-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-dragon">{{localize 'DND5E.CreatureDragon'}}</label>
				<input type="checkbox" id="with-actor-dragon" name="with-actor-dragon" title="{{localize 'DND5E.CreatureDragon'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-dragon-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-elemental">{{localize 'DND5E.CreatureElemental'}}</label>
				<input type="checkbox" id="with-actor-elemental" name="with-actor-elemental" title="{{localize 'DND5E.CreatureElemental'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-elemental-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-fey">{{localize 'DND5E.CreatureFey'}}</label>
				<input type="checkbox" id="with-actor-fey" name="with-actor-fey" title="{{localize 'DND5E.CreatureFey'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-fey-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-fiend">{{localize 'DND5E.CreatureFiend'}}</label>
				<input type="checkbox" id="with-actor-fiend" name="with-actor-fiend" title="{{localize 'DND5E.CreatureFiend'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-fiend-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-giant">{{localize 'DND5E.CreatureGiant'}}</label>
				<input type="checkbox" id="with-actor-giant" name="with-actor-giant" title="{{localize 'DND5E.CreatureGiant'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-giant-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-humanoid">{{localize 'DND5E.CreatureHumanoid'}}</label>
				<input type="checkbox" id="with-actor-humanoid" name="with-actor-humanoid" title="{{localize 'DND5E.CreatureHumanoid'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-humanoid-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-monstrosity">{{localize 'DND5E.CreatureMonstrosity'}}</label>
				<input type="checkbox" id="with-actor-monstrosity" name="with-actor-monstrosity" title="{{localize 'DND5E.CreatureMonstrosity'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-monstrosity-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-ooze">{{localize 'DND5E.CreatureOoze'}}</label>
				<input type="checkbox" id="with-actor-ooze" name="with-actor-ooze" title="{{localize 'DND5E.CreatureOoze'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-ooze-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-plant">{{localize 'DND5E.CreaturePlant'}}</label>
				<input type="checkbox" id="with-actor-plant" name="with-actor-plant" title="{{localize 'DND5E.CreaturePlant'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-plant-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-swarm">{{localize 'DND5E.CreatureSwarm'}}</label>
				<input type="checkbox" id="with-actor-swarm" name="with-actor-swarm" title="{{localize 'DND5E.CreatureSwarm'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-swarm-checked}} />
			</div>
			<div class="form-group">
				<label for="with-actor-undead">{{localize 'DND5E.CreatureUndead'}}</label>
				<input type="checkbox" id="with-actor-undead" name="with-actor-undead" title="{{localize 'DND5E.CreatureUndead'}} {{localize 'ACTOR.TypeNpc'}}" data-dtype="Boolean" {{with-actor-undead-checked}} />
			</div>
			<hr> 

			<!-- SHOW -->
			<div class="form-group">
				<label for="with-actor-show">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="with-actor-show" name="item-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Actors'}}" data-dtype="Boolean" {{item-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Actors'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>

		<!-- (6) WITH CARDS -->
		<div class="tab" data-tab="compendiums-with-cards" data-group="components">

			<!-- CARD NAME -->
			<label for="with-card-name"><i class="fas fa-id-badge"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'CARDS.HeaderCards'}}</label>
			<div class="form-group">
				<input type="text" id="with-card-name" name="with-card--name" data-dtype="String" title="{{localize 'CARDS.HeaderCards'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{with-card-name-value}}" >
			</div>
			<div class="form-group">
				<label for="with-card-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="with-card-case-sensitive" name="with-card-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-card-case-sensitive-checked}} />
			</div>
			<div class="form-group">
				<label for="with-card-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="with-card-exact-match" name="with-card-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-card-exact-match-checked}} />
			</div>
			<hr>

			<!-- CARD OPTIONS -->
			<div class="form-group">
				<label for="with-card-none">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="with-card-none" name="with-card-none" title="{{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Cards'}}" data-dtype="Boolean" {{item-none-checked}} />
			</div>
			<p class="notes">{{localize 'COMPENDIUM.SidebarTitle'}} {{localize 'ANALYTICS.Without'}} {{localize 'CARDS.HeaderCards'}}</p>
			<hr> 

			<!-- SHOW -->
			<div class="form-group">
				<label for="actor-show">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="actor-show" name="item-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Cards'}}" data-dtype="Boolean" {{item-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'CARDS.HeaderCards'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>
		
		<!-- (9) WITH ITEMS -->
		<div class="tab" data-tab="compendiums-with-items" data-group="components">

			<!-- ITEM NAME -->
			<label for="with-item-name"><i class="fas fa-suitcase"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Items'}}</label>
			<div class="form-group">
				<input type="text" id="with-item-name" name="with-item-name" data-dtype="String" title="{{localize 'DOCUMENT.Items'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{with-item-name-value}}" >
			</div>
			<div class="form-group">
				<label for="with-item-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="with-item-case-sensitive" name="with-item-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-item-case-sensitive-checked}} />
			</div>
			<div class="form-group">
				<label for="with-item-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="with-item-exact-match" name="with-item-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-item-exact-match-checked}} />
			</div>
			<hr>
			
			<!-- ITEM OPTIONS -->
			<div class="form-group">
				<label for="with-item-none">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="with-item-none" name="with-item-none" title="{{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-none-checked}} />
			</div>
			<p class="notes">{{localize 'COMPENDIUM.SidebarTitle'}} {{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Items'}}</p>
			<div class="form-group">
				<label for="with-item-weapon">{{localize 'ITEM.TypeWeapon'}}</label>
				<input type="checkbox" id="with-item-weapon" name="with-item-weapon" title="{{localize 'ITEM.TypeWeapon'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-weapon-checked}} />
			</div>
			<div class="form-group">
				<label for="with-item-equipment">{{localize 'ITEM.TypeEquipment'}}</label>
				<input type="checkbox" id="with-item-equipment" name="with-item-equipment" title="{{localize 'ITEM.TypeEquipment'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-equipment-checked}} />
			</div>
			<div class="form-group">
				<label for="with-item-consumable">{{localize 'ITEM.TypeConsumable'}}</label>
				<input type="checkbox" id="with-item-consumable" name="with-item-consumable" title="{{localize 'ITEM.TypeConsumable'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-consumable-checked}} />
			</div>
			<div class="form-group">
				<label for="with-item-tool">{{localize 'ITEM.TypeTool'}}</label>
				<input type="checkbox" id="with-item-tool" name="with-item-tool" title="{{localize 'ITEM.TypeTool'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-tool-checked}} />
			</div>
			<div class="form-group">
				<label for="with-item-loot">{{localize 'ITEM.TypeLoot'}}</label>
				<input type="checkbox" id="with-item-loot" name="with-item-loot" title="{{localize 'ITEM.TypeLoot'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-loot-checked}} />
			</div>
			<div class="form-group">
				<label for="with-item-class">{{localize 'ITEM.TypeClass'}}</label>
				<input type="checkbox" id="with-item-class" name="with-item-class" title="{{localize 'ITEM.TypeClass'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-class-checked}} />
			</div>
			<div class="form-group">
				<label for="with-item-feat">{{localize 'ITEM.TypeFeat'}}</label>
				<input type="checkbox" id="with-item-feat" name="with-item-feat" title="{{localize 'ITEM.TypeFeat'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-feat-checked}} />
			</div>
			<div class="form-group">
				<label for="with-item-backpack">{{localize 'ITEM.TypeBackpack'}}</label>
				<input type="checkbox" id="with-item-backpack" name="with-item-backpack" title="{{localize 'ITEM.TypeBackpack'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-backpack-checked}} />
			</div>
			<div class="form-group">
				<label for="with-item-spell">{{localize 'ITEM.TypeSpell'}}</label>
				<input type="checkbox" id="with-item-spell" name="with-item-spell" title="{{localize 'ITEM.TypeSpell'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-spell-checked}} />
			</div>
			<div class="form-group" id="with-item-macro-label">
				<label for="with-item-macro" id="with-item-macro-label">{{localize 'midi-qol.onUseMacroLabel'}}</label>
				<input type="checkbox" id="with-item-macro" name="with-item-macro" title="{{localize 'DOCUMENT.Items'}} {{localize 'ANALYTICS.With'}} {{localize 'midi-qol.onUseMacroLabel'}}" data-dtype="Boolean" onClick="toggle_item_macro()" {{with-item-macro-checked}} />
			</div>
			<p class="notes" id="with-item-macro-note">{{localize 'DOCUMENT.Items'}} {{localize 'ANALYTICS.With'}} {{localize 'midi-qol.onUseMacroLabel'}}</p>
			<hr>

			<!-- ON USE MACRO -->
			<label for="with-item-macro-name" id="with-item-macro-name-label"><i class="fas fa-folder"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Macros'}}</label>
			<div class="form-group" id="with-item-macro-name-input">
				<input type="text" id="with-item-macro-name" name="with-item-macro-name" title="{{localize 'DOCUMENT.Macros'}} {{localize 'Name'}}" data-dtype="String" placeholder="{{localize 'Name'}}" value="{{with-item-macro-name-value}}" >
			</div>
			<div class="form-group" id="with-item-macro-case-sensitive-label">
				<label for="with-item-macro-case-sensitive" id="with-item-macro-case-sensitive-label">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="with-item-macro-case-sensitive" name="with-item-macro-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-item-macro-case-sensitive-checked}} />
			</div>
			<div class="form-group" id="with-item-macro-exact-match-label">
				<label for="with-item-macro-exact-match" id="with-item-macro-exact-match-label">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="with-item-macro-exact-match" name="with-item-macro-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-item-macro-exact-match-checked}} />
			</div>
			<hr id="with-item-macro-thematic-break">

			<!-- SHOW -->
			<div class="form-group">
				<label for="with-item-show">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="with-item-show" name="with-item-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Items'}}" data-dtype="Boolean" {{with-item-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Items'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>

		<!-- (10) WITH JOURNALS -->
		<div class="tab" data-tab="compendiums-with-journals" data-group="components">

			<!-- JOURNAL NAME -->
			<label for="with-journal-name"><i class="fas fa-book-open"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'ANALYTICS.Journals'}}</label>
			<div class="form-group">
				<input type="text" id="with-journal-name" name="with-journal-name" data-dtype="String" title="{{localize 'ANALYTICS.Journals'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{with-journal-name-value}}" >
			</div>
			<div class="form-group">
				<label for="with-journal-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="with-journal-case-sensitive" name="with-journal-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-journal-case-sensitive-checked}} />
			</div>
			<div class="form-group">
				<label for="with-journal-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="with-journal-exact-match" name="with-journal-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-journal-exact-match-checked}} />
			</div>
			<hr>

			<!-- JOURNAL OPTIONS -->
			<div class="form-group">
				<label for="with-journal-none">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="with-journal-none" name="with-journal-none" title="{{localize 'ANALYTICS.NotIn'}} {{localize 'ANALYTICS.Journals'}}" data-dtype="Boolean" {{with-journal-none-checked}} />
			</div>
			<p class="notes">{{localize 'COMPENDIUM.SidebarTitle'}} {{localize 'ANALYTICS.Without'}} {{localize 'ANALYTICS.Journals'}}</p>

			<!-- MONK'S -->
			<div class="form-group" id="with-journal-monks-base">
				<label for="with-journal-base">{{localize 'MonksEnhancedJournal.base'}}</label>
				<input type="checkbox" id="with-journal-base" name="with-journal-base" title="{{localize 'MonksEnhancedJournal.base'}}" data-dtype="Boolean" {{with-journal-base-checked}} />
			</div>
			<div class="form-group" id="with-journal-monks-checklist">
				<label for="with-journal-checklist">{{localize 'MonksEnhancedJournal.checklist'}}</label>
				<input type="checkbox" id="with-journal-checklist" name="with-journal-checklist" title="{{localize 'MonksEnhancedJournal.checklist'}}" data-dtype="Boolean" {{with-journal-checklist-checked}} />
			</div>
			<div class="form-group" id="with-journal-monks-encounter">
				<label for="with-journal-encounter">{{localize 'MonksEnhancedJournal.encounter'}}</label>
				<input type="checkbox" id="with-journal-encounter" name="with-journal-encounter" title="{{localize 'MonksEnhancedJournal.encounter'}}" data-dtype="Boolean" {{with-journal-encounter-checked}} />
			</div>
			<div class="form-group" id="with-journal-monks-loot">
				<label for="with-journal-loot">{{localize 'MonksEnhancedJournal.loot'}}</label>
				<input type="checkbox" id="with-journal-loot" name="with-journal-loot" title="{{localize 'MonksEnhancedJournal.loot'}}" data-dtype="Boolean" {{with-journal-loot-checked}} />
			</div>
			<div class="form-group" id="with-journal-monks-organization">
				<label for="with-journal-organization">{{localize 'MonksEnhancedJournal.organization'}}</label>
				<input type="checkbox" id="with-journal-organization" name="with-journal-organization" title="{{localize 'MonksEnhancedJournal.organization'}}" data-dtype="Boolean" {{with-journal-organization-checked}} />
			</div>
			<div class="form-group" id="with-journal-monks-person">
				<label for="with-journal-person">{{localize 'MonksEnhancedJournal.person'}}</label>
				<input type="checkbox" id="with-journal-person" name="with-journal-person" title="{{localize 'MonksEnhancedJournal.person'}}" data-dtype="Boolean" {{with-journal-person-checked}} />
			</div>
			<div class="form-group" id="with-journal-monks-place">
				<label for="with-journal-place">{{localize 'MonksEnhancedJournal.place'}}</label>
				<input type="checkbox" id="with-journal-place" name="with-journal-place" title="{{localize 'MonksEnhancedJournal.place'}}" data-dtype="Boolean" {{with-journal-place-checked}} />
			</div>
			<div class="form-group" id="with-journal-monks-poi">
				<label for="with-journal-poi">{{localize 'MonksEnhancedJournal.poi'}}</label>
				<input type="checkbox" id="with-journal-poi" name="with-journal-poi" title="{{localize 'MonksEnhancedJournal.poi'}}" data-dtype="Boolean" {{with-journal-poi-checked}} />
			</div>
			<div class="form-group" id="with-journal-monks-quest">
				<label for="with-journal-quest">{{localize 'MonksEnhancedJournal.quest'}}</label>
				<input type="checkbox" id="with-journal-quest" name="with-journal-quest" title="{{localize 'MonksEnhancedJournal.quest'}}" data-dtype="Boolean" {{with-journal-quest-checked}} />
			</div>
			<div class="form-group" id="with-journal-monks-shop">
				<label for="with-journal-shop">{{localize 'MonksEnhancedJournal.shop'}}</label>
				<input type="checkbox" id="with-journal-shop" name="with-journal-shop" title="{{localize 'MonksEnhancedJournal.shop'}}" data-dtype="Boolean" {{with-journal-shop-checked}} />
			</div>
			<hr>

			<!-- SHOW -->
			<div class="form-group">
				<label for="with-journal-show">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="with-journal-show" name="with-journal-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.Journals'}}" data-dtype="Boolean" {{with-journal-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.Journals'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>

		<!-- (11) WITH MACROS -->
		<div class="tab" data-tab="compendiums-with-macros" data-group="components">

			<!-- MACRO NAME -->
			<label for="with-macro-name"><i class="fas fa-folder"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Macros'}}</label>
			<div class="form-group">
				<input type="text" id="with-macro-name" name="with-macro-name" data-dtype="String" title="{{localize 'DOCUMENT.Macros'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{with-macro-name-value}}" >
			</div>
			<div class="form-group">
				<label for="with-macro-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="with-macro-case-sensitive" name="with-macro-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-macro-case-sensitive-checked}} />
			</div>
			<div class="form-group">
				<label for="with-macro-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="with-macro-exact-match" name="with-macro-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-macro-exact-match-checked}} />
			</div>
			<hr>

			<!-- MACRO OPTIONS -->
			<div class="form-group">
				<label for="with-macro-none">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="with-macro-none" name="with-macro-none" title="{{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Macros'}}" data-dtype="Boolean" {{with-macro-none-checked}} />
			</div>
			<p class="notes">{{localize 'COMPENDIUM.SidebarTitle'}} {{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Macros'}}</p>
			<hr> 

			<!-- SHOW -->
			<div class="form-group">
				<label for="with-macro-show">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="with-macro-show" name="with-macro-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Macros'}}" data-dtype="Boolean" {{with-macro-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Macros'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>

		<!-- (12) WITH PLAYLISTS -->
		<div class="tab" data-tab="compendiums-with-playlists" data-group="components">

			<!-- PLAYLIST NAME -->
			<label for="with-playlist-name"><i class="fas fa-music"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Playlists'}}</label>
			<div class="form-group">
				<input type="text" id="with-playlist-name" name="with-playlist-name" data-dtype="String" title="{{localize 'DOCUMENT.Playlists'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{with-playlist-name-value}}" >
			</div>
			<div class="form-group">
				<label for="with-playlist-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="with-playlist-case-sensitive" name="with-playlist-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-playlist-case-sensitive-checked}} />
			</div>
			<div class="form-group">
				<label for="with-playlist-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="with-playlist-exact-match" name="with-playlist-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-playlist-exact-match-checked}} />
			</div>
			<hr>

			<!-- PLAYLIST OPTIONS -->
			<div class="form-group">
				<label for="with-playlist-none">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="with-playlist-none" name="with-playlist-none" title="{{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Playlists'}}" data-dtype="Boolean" {{with-playlist-none-checked}} />
			</div>
			<p class="notes">{{localize 'COMPENDIUM.SidebarTitle'}} {{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Playlists'}}s</p>
			<hr>

			<!-- SHOW -->
			<div class="form-group">
				<label for="with-playlist-show">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="with-playlist-show" name="with-playlist-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Macros'}}" data-dtype="Boolean" {{with-playlist-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Playlists'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>
		
		<!-- (13) WITH SCENES -->
		<div class="tab" data-tab="compendiums-with-scenes" data-group="components">

			<!-- SCENE NAME -->
			<label for="with-scene-name"><i class="fas fa-map"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'DOCUMENT.Scenes'}}</label>
			<div class="form-group">
				<input type="text" id="with-scene-name" name="with-scene-with-name" data-dtype="String" title="{{localize 'DOCUMENT.Scenes'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{with-scene-name-value}}" >
			</div>
			<div class="form-group">
				<label for="with-scene-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="with-scene-case-sensitive" name="with-scene-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-scene-case-sensitive-checked}} />
			</div>
			<div class="form-group">
				<label for="with-scene-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="with-scene-exact-match" name="with-scene-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-scene-exact-match-checked}} />
			</div>
			<hr>

			<!-- SCENE OPTIONS -->
			<div class="form-group">
				<label for="with-scene-none">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="with-scene-none" name="with-scene-none" title="{{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Scenes'}}" data-dtype="Boolean" {{with-scene-none-checked}} />
			</div>
			<p class="notes">{{localize 'COMPENDIUM.SidebarTitle'}} {{localize 'ANALYTICS.Without'}} {{localize 'DOCUMENT.Scenes'}}</p>
			<hr>

			<!-- SHOW -->
			<div class="form-group">
				<label for="with-scene-show">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="with-scene-show" name="with-scene-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'DOCUMENT.Scenes'}}" data-dtype="Boolean" {{with-scene-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'DOCUMENT.Scenes'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>		

		<!-- (14) WITH TABLES -->
		<div class="tab" data-tab="compendiums-with-tables" data-group="components">

			<!-- TABLE NAME -->
			<label for="with-table-name"><i class="fas fa-th-list"></i>&nbsp;{{localize 'ANALYTICS.With'}} {{localize 'ANALYTICS.Tables'}}</label>
			<div class="form-group">
				<input type="text" id="with-table-name" name="with-table-name" data-dtype="String" title="{{localize 'ANALYTICS.Tables'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{with-table-name-value}}" >
			</div>
			<div class="form-group">
				<label for="with-table-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="with-table-case-sensitive" name="with-table-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-table-case-sensitive-checked}} />
			</div>
			<div class="form-group">
				<label for="with-table-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="with-table-exact-match" name="with-table-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{with-table-exact-match-checked}} />
			</div>
			<hr>

			<!-- TABLE OPTIONS -->
			<div class="form-group">
				<label for="with-table-none">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="with-table-none" name="with-table-none" title="{{localize 'ANALYTICS.Without'}} {{localize 'SIDEBAR.TabTable'}}" data-dtype="Boolean" {{with-table-none-checked}} />
			</div>
			<p class="notes">{{localize 'COMPENDIUM.SidebarTitle'}} {{localize 'ANALYTICS.Without'}} {{localize 'ANALYTICS.Tables'}}</p>
			<hr>

			<!-- SHOW -->
			<div class="form-group">
				<label for="with-table-show">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="with-table-show" name="with-table-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'SIDEBAR.TabTable'}}" data-dtype="Boolean" {{with-table-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.Tables'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>

		<!-- (15) IN TABLES -->
		<div class="tab" data-tab="compendiums-in-tables" data-group="components">

			<!-- TABLE NAME -->
			<label for="in-table-name"><i class="fas fa-th-list"></i>&nbsp;{{localize 'ANALYTICS.In'}} {{localize 'ANALYTICS.Tables'}}</label>
			<div class="form-group">
				<input type="text" id="in-table-name" name="in-table-name" data-dtype="String" title="{{localize 'ANALYTICS.Tables'}} {{localize 'Name'}}" placeholder="{{localize 'Name'}}" value="{{in-table-name-value}}" >
			</div>
			<div class="form-group">
				<label for="in-table-case-sensitive">{{localize 'ANALYTICS.CaseSensitive'}}</label>
				<input type="checkbox" id="in-table-case-sensitive" name="in-table-case-sensitive" title="{{localize 'ANALYTICS.CaseSensitive'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{in-table-case-sensitive-checked}} />
			</div>
			<div class="form-group">
				<label for="in-table-exact-match">{{localize 'ANALYTICS.ExactMatch'}}</label>
				<input type="checkbox" id="in-table-exact-match" name="in-table-exact-match" title="{{localize 'ANALYTICS.ExactMatch'}} {{localize 'FILES.Search'}}" data-dtype="Boolean" {{in-table-exact-match-checked}} />
			</div>
			<hr>

			<!-- TABLE OPTIONS -->
			<div class="form-group">
				<label for="in-table-none">{{localize 'DND5E.None'}}</label>
				<input type="checkbox" id="in-table-none" name="in-table-none" title="{{localize 'ANALYTICS.NotIn'}} {{localize 'ANALYTICS.Tables'}}" data-dtype="Boolean" {{in-table-none-checked}} />
			</div>
			<p class="notes">{{localize 'COMPENDIUM.SidebarTitle'}} {{localize 'ANALYTICS.NotIn'}} {{localize 'ANALYTICS.Tables'}}</p>
			<hr> 

			<!-- SHOW -->
			<div class="form-group">
				<label for="in-table-show">{{localize 'ANALYTICS.Show'}}</label>
				<input type="checkbox" id="in-table-show" name="in-table-show" title="{{localize 'ANALYTICS.Show'}} {{localize 'ANALYTICS.Tables'}}" data-dtype="Boolean" {{in-table-show-checked}} />
			</div>
			<p class="notes">{{localize 'ANALYTICS.Include'}} {{localize 'ANALYTICS.Tables'}} {{localize 'ANALYTICS.In'}} {{localize 'FILES.Search'}} {{localize 'Result'}}</p>
		</div>
	</div>

	<!-- SUBMIT -->
	<button type="submit" class="analytics-compendiums-submit" name="submit" title="{{localize 'FILES.Search'}} {{localize 'ANALYTICS.Compendiums'}}"><i class="fas fa-search"></i>&nbsp;{{localize 'FILES.Search'}}</button>

	<!-- LIST HEADER -->	
	<div class="analytics-compendiums-header">
		<i class="fas fa-atlas"></i>&nbsp;{{localize 'ANALYTICS.NumberOf'}} {{localize 'ANALYTICS.Compendiums'}} {{compendium-count}}&nbsp;/&nbsp;{{number-of-compendiums}}
	</div>
	
	<!-- LIST -->
	<div class="analytics-compendiums-list" id="analytics-list"></div>
</form>
